body {
    background-color: rgba(250, 233, 157, 0.822);
    font-family: 'Open Sans', sans-serif;
}

.logo{
  height: 400px;
  display: block; 
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.menu_button {
  display: inline-block;   
  font-weight: 600;  
  background-color: rgba(221, 204, 128, 0.822);
  color: #552200;
  border: 2px solid rgba(173, 158, 90, 0.822);;
  height: 50px;
  width: 200px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px;  
  transition-duration: 0.4s;
  margin-left: 10px;  
  margin-right: 10px;  
}

.menu_button:hover{
  opacity:0.7;
}

.menu_button:active{
  opacity:0.2;
}

.footer{
  position: fixed;     
  text-align: center;    
  bottom: 10px; 
  width: 100%;
  color: #552200;
}
